extends layout

block content
  #index(data-visitors-json=JSON.stringify(visitors))
  script(src=webpack_asset('index', 'js'))
  link(rel='stylesheet', type="text/css", href=webpack_asset('index', 'css'))